.articles-list{display:flex;justify-content:space-between; margin:0; padding:0; list-style:none;}
.articles-list--item{width:31.333%;}
    .articles-list--item--image{max-width:100%;}
    .articles-list--item--title{}
    .articles-list--item--text{}