.gallery-list{margin:0; padding:0; list-style:none; display:inline-block;width:100%;}     
    .gallery-list--item{float:left; margin:0 0 6px 8px;}
        .gallery-list--item--image{width:120px; height:120px;}
    .gallery-list--item-big{margin:0 8px 0 0;}
        .gallery-list--item-big--image{width:568px; height:250px;}